<div class="d-flex"> 
    <h4 class="container-fluid  mt-4 ">Project List</h4>
      </div>
    <table class="table   table-striped container mt-4">
        <thead class="h6">
        <tr>
                <td>Project Name</td>
                <td>Due Date</td>
                <td>Submit date</td>
                <td>Status</td>
                
        </tr>
        </thead>
        <tbody>
        <!-- <tr *ngFor="let item of listAllNotice">
            <td>{{item.title}}</td>
            <td>{{item.date}}</td>
            <td>{{item.description}}</td>
            
        </tr>        -->
        <tr>
            <td>online jelarry</td>
            <td>23feb2022</td>
            <td>16agst2022</td>
            <td>satus</td>
        </tr>
        
        </tbody>
      </table>
       

