li{

    font-weight: bolder;
    font-size: larger;
    margin-left: 45px;
    
}
a:hover{
    background-color: gray;
    border-radius: 5px;
}

a,button{
    font-size: larger;
}
button{
    
    margin-left: 30px;
}
nav{
    background-color:blue;
}