<div class="container" id="maindiv">
<h4 class="text-success">Registration Info</h4>
<form  [formGroup]=" EmployeeAddForm" >
    <table>
        <div class="mb-3">
        <tr>
            <td><input type="text" placeholder="FirstName" class="form-control" formControlName="firstName"></td>
            <td><input type="text" placeholder="lastName" class="form-control" formControlName="lastName"></td>
        </tr>
        <tr>
            <td> <br></td>
        </tr>
        <tr>
            <td colspan="2"><input type="text" placeholder="Address" class="form-control" formControlName="address"></td>
        </tr>
        <tr>
            <td> <br></td>
        </tr>
        <tr>
            <td colspan="2"><input type="email" placeholder="EmailArress" class="form-control" formControlName="emailAddress"></td>
        </tr>
        <tr>
            <td> <br></td>
        </tr>
        <tr>
            <td ><input type="date" placeholder="BirthDate" class="form-control" formControlName="dateOfBirth"></td>
            <td><input type="text" placeholder="Gender" class="form-control" formControlName="gender"></td>
        </tr>
        <tr>
            <td> <br></td>
        </tr>
        <tr>
            <td><input type="text" placeholder="Degree" class="form-control" formControlName="degree"></td>
            <td><input type="date" placeholder="Joiningdate" class="form-control" formControlName="joiningDate"></td>
        </tr>
        <tr>
            <td> <br></td>
        </tr>
        <tr>
            <td colspan="2"><input type="text" placeholder="Department" class="form-control" formControlName="departmentname"></td>
        </tr>
        
        </div>
    </table>
    <br>
    <button type="submit" class="bg-primary">SUBMIT</button>
    <button class="ms-4">Back</button>
</form>
</div>