 thead{
    background-color: rgb(59, 59, 253);
    color: white;
    font-size: larger;
}
/* tbody{
    background-color: rgb(115, 115, 252);
} 
thead{
    font-size: larger;
} */
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
