thead{
    background-color: green;
    color: white;
    font-size: larger;
}
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: tomato;
}
table{
    margin-top: 20px;

    
}